/* For custom css @gadev */
:root {
    /*gadir green choice */
    --green-light : #27A567;
    --green-main : #0A5C36;
    --green-dark: #14452F;
    --green-darker: #18392B;

    /*gadir orange choice */
    --orange-higher : #FF7B00;
    --orange-tangerine : #FA8128;
    --orange-main: #FF8D21;
    --orange-low: #FFA652;
    --orange-lower: #FFB76B;
    --orange-lowest: #FFCD90;
    --orange-whiten: #FFF4DF;

    /*@gadir white choice */
    --white-pearl : #FBFCF8;
    --white-alabaster: #FEF9F3;
    --white-cotton: #FBFBF9;
    --white-chiffon: #FBFAF2;
    --white-powder: #FBFCFA;
    --white-frost: #FCFBFC;
}

.cst-footer-sm-box {
    border: 1px solid var(--orange-lower);
    border-radius: 2px;
    padding: 4px;
    color: #FFF;
    text-align:start;
    font-size: 14.6px;
}

.cst-white-border1 {
    color: var(--white-frost)!important;
    font-weight: 900;
}

.cst-orange-border3 {
    border: 3px solid var(--orange-main)!important;
    border-radius: 4px;
}

.cst-orange-border-0 {
    border: 1px solid var(--green-light)!important;
    border-radius: 2px;
    padding: 0!important;
    margin: 0!important;
}

.cst-orange-border-sm {
    border: 0.6px solid var(--orange-main)!important;
}

.cst-partner-1-border {
    border-left: 2px solid var(--green-main);
    border-bottom: 2px solid var(--green-main);
}

.cst-white-border1 {
    /*border: 1px solid var(--white-frost)!important;*/
    font-weight: 900;
}

.cst-contact-orange-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--orange-higher)!important;
    border-radius: 4px;
    color: var(--green-darker);
    padding: 20px 5px;
}

/* Green backgrounds */
.cst-bg-green-light {
    background-color: var(--green-light)!important;
}

.cst-bg-green-main {
    background-color: var(--green-main)!important;
}

.cst-bg-green-dark {
    background-color: var(--green-dark)!important;
}

.cst-bg-green-darker {
    background-color: var(--green-darker)!important;
}

/* Orange backgrounds */
.cst-bg-orange-higher {
    background-color: var(--orange-higher)!important;
}

.cst-bg-orange-tangerine {
    font-weight: bolder!important;
    background-color: var(--orange-tangerine)!important;
}

.cst-bg-orange-main {
    background-color: var(--orange-main)!important;
}

.cst-bg-orange-low {
    background-color: var(--orange-low)!important;
}

.cst-bg-orange-lower {
    background-color: var(--orange-lower)!important;
}

.cst-bg-orange-lowest {
    background-color: var(--orange-lowest)!important;
}

/*White colors */
.cst-bg-white-full {
    background-color: #FFF!important;
}

/*Footer */
.cst-footer-left-border {
    border-left: 2px solid var(--orange-low);
    padding-left: 8px;
    color: var(--white-powder);
}

/*Login container*/
.cst-login-container {
    padding: 0px!important;
    display: flex;
    justify-content: center;
}

.cst-login-content{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 40px 40px;
	color: var(--thm-white);
	box-shadow: 0px 0px 12px 4px var(--green-main);
    border-radius: 4px;
}