/*Importing beautiful google font */
@import url(https://fonts.googleapis.com/css?family=Sofia);

:root {
    /*gadir green choice */
    --green-light : #27A567;
    --green-main : #065814;
    --green-dark: #144525;
    --green-darker: #094209;
    --green-psf-light: #0f6f0f;
    --green-psf-dark: #0c5f0c;

    /*gadir orange choice */
    --orange-higher : #FF7B00;
    --orange-tangerine : #FA8128;
    --orange-main: #FF8D21;
    --orange-low: #FFA652;
    --orange-lower: #FFB76B;
    --orange-lowest: #FFCD90;
    --orange-whiten: #FFF4DF;

    /*@gadir white choice */
    --white-pearl : #FBFCF8;
    --white-alabaster: #FEF9F3;
    --white-cotton: #FBFBF9;
    --white-chiffon: #FBFAF2;
    --white-powder: #FBFCFA;
    --white-cream: #FFFDD0;
}

.cst-footer-sm-box {
    border: 1px solid var(--orange-lower);
    border-radius: 2px;
    padding: 4px;
    color: #FFF;
    text-align:start;
    font-size: 14.6px;
}

.cst-white-border1 {
    color: var(--white-cream)!important;
    font-weight: 900;
}

.cst-orange-border3 {
    border: 3px solid var(--orange-main)!important;
    border-radius: 4px;
}

.cst-orange-border-0 {
    border: 1px solid var(--green-light)!important;
    border-radius: 2px;
    padding: 0!important;
    margin: 0!important;
}

.cst-orange-border-sm {
    border: 0.6px solid var(--orange-main)!important;
}

.cst-partner-1-border {
    border-left: 2px solid var(--green-main);
    border-bottom: 2px solid var(--green-main);
}

.cst-white-border1 {
    /*border: 1px solid var(--white-cream)!important;*/
    font-weight: 900;
}

.cst-contact-orange-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--orange-higher)!important;
    border-radius: 4px;
    color: var(--green-darker);
    padding: 20px 5px;
}

/* Green backgrounds */
.cst-bg-green-light {
    background-color: var(--green-light)!important;
}

.cst-bg-green-main {
    background-color: var(--green-main)!important;
}

.cst-bg-green-dark {
    background-color: var(--green-dark)!important;
}

.cst-bg-green-darker {
    background-color: var(--green-darker)!important;
}

/* Orange backgrounds */
.cst-bg-orange-higher {
    background-color: var(--orange-higher)!important;
}

.cst-bg-orange-tangerine {
    font-weight: bolder!important;
    background-color: var(--orange-tangerine)!important;
}

.cst-bg-orange-main {
    background-color: var(--orange-main)!important;
}

.cst-bg-orange-low {
    background-color: var(--orange-low)!important;
}

.cst-bg-orange-lower {
    background-color: var(--orange-lower)!important;
}

.cst-bg-orange-lowest {
    background-color: var(--orange-lowest)!important;
}

/*White colors */
.cst-bg-white-full {
    background-color: #FFF!important;
}

/*Footer */
.cst-footer-left-border {
    border-left: 2px solid var(--orange-low);
    padding-left: 8px;
    color: var(--white-powder);
}

/*Login container*/
.cst-login-container {
    padding: 0px!important;
    display: flex;
    justify-content: center;
}

.cst-login-content{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 40px 40px;
	color: var(--thm-white);
	box-shadow: 0px 0px 12px 4px var(--green-main);
    border-radius: 4px;
}


.cst-btn-service {
    padding: 10px!important;
    background: var(--orange-tangerine)!important;
    border-radius: 2px!important;
    font-weight: 900!important;
}

/* Links */
.cst-read-more-link {
    font-weight: 800;
    font-size: 18px;
}

.cst-read-more-link:hover {
    color: var(--orange-higher)!important;
    border-bottom: 2px solid var(--green-dark);
}

.cst-blue-link {
    color: #0452b2cf!important;
    font-weight: 700;
}

.cst-blue-link:hover {
    border-bottom: 1px solid #FA8128!important; 
}

/* Misc. Sizing */
.size-65 {
    font-size: 65px!important;
    opacity: 0.2!important;
    font-family: 'Sofia'!important;
    font-weight: bolder!important;
}

.documents-link {
    background-color: #FFF!important;
    list-style: none!important;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.documents-link li {
    margin: 10px!important;
    padding: 18px 20px;
}

.documents-link li a{
    text-decoration: none!important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.documents-link>li>a>span{
    border-radius: 2px!important;
    background-color: var(--green-darker);
    color: #FFF;
    padding: 10px!important;
    font-size: 18px;
    box-shadow: 0 3px 0 var(--orange-lower);
}

/* Outside Table */
.cst-outable {
    width: 100%!important;
    border-collapse: collapse!important;
}

.cst-outable th{
    background-color: var(--green-darker)!important;
    color: #FFF!important;
}

.cst-outable th,
.cst-outable td {
    padding: 12px!important;
    border: 1px solid var(--orange-main)!important;
    color: #000;
}

.cst-outable tr:nth-child(even) {
    background-color: #d9ede1!important;
}

.cst-outable tr:hover {
    background-color: var(--orange-lowest)!important;
}

.outable-bluely {
    background-color: #FFF!important;
    border: none!important;
    text-align: center!important;
}

.outable-bluely a {
    font-weight: bolder!important;
    color: blue!important;
}

.outable-bluely a:hover {
    border-bottom: 2px solid blue!important;
}

@media screen and (max-width: 600px) {
    .cst-outable,
    .cst-outable thead,
    .cst-outable tbody,
    th, td, tr {
        display: block;
    }

    .cst-outable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        left: 6px;
        content: attr(data-label);
        font-weight: bold;
    }
}

.cst-sh-description {
    padding: 2px;
    margin: 20px 0;
    color: #000;
    border-bottom: 4px solid var(--green-main);
}

/* Error page styles */
.error-box {
    border: 2px solid #094209!important;
    color: #000;
    padding: 20px!important;
    border-radius: 5px!important;
    margin: 40px 0!important;
}

/* PDF Preview */
.pdf-container {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 20px!important; 
    border: 4px solid --var(rgb(232, 153, 7));
    padding: 10px;
}

.pdf-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

#pdf-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#pdf-canvas {
    border: 3px solid #034a11;
    border-radius: 4px;
    width: 100%;
}

#pdf-controls>div>button {
    padding: 8px;
    margin: 4px;
    background-color: #0e753b;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#pdf-controls>div>span {
    font-weight: bolder;
    font-size: larger;
    color: #000;
}

/* Misc. */
.cst-form-label {
    font-weight: bolder!important;
    color: var(--green-dark);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--orange-lower);
}

.cst-red {
    color: red;
    font-weight: bolder;
}


/* Documents view tables */
.table8-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}

.table8 {
    display: table;
    width: auto;
    min-width: 20%;
    border-collapse: collapse;
}

.table8-row {
    display: table-row;
}

.table8-cell {
    padding: 8px;
    display: table-cell;
    border: 1px solid #000;
    text-align: left;
}

.table8-cell a {
    color: var(--green-main);
    font-weight: bolder;
}

.table8-header {
    border-bottom: 2px solid #075c123d;
    padding: 10px!important;
    margin-bottom: 15px!important;
    text-align: center!important;
}

.header {
    background-color: #17351c;
    color: #FFF;
    font-weight: bold;
}

/* Top banner */
.top-banner {
    background-color: #052802;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.top-banner button {
    background-color: #9c5005;
    border: none;
    outline: none;
    color: #FFF;
    font-weight: bolder;
    border-radius: 3px;
    padding: 4px 8px;
}

.top-banner span a {
    color: #FFF;
    margin-right: 20px!important;
}

.top-banner span a:hover {
    color: #f5c394;
}